.board-show {

  .board-show-navbar {
    display: flex;
    justify-content: space-between;
    .delete-board {
      border-radius: 3px;
      padding: 2px;
      height: 20px;
    }
  }
  
  height: 100vh;
  background: #4891c5;
  .board-title {
    margin: auto 10px;
    color: #f6f6f6;
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
  }
}