.board-show {
  height: 100vh;
  background: #4891c5;
  .board-show-navbar {
    display: flex;
    justify-content: space-between;
    .board-title {
      margin: auto 10px;
      color: #f6f6f6;
      font-weight: 700;
      padding: 8px;
      cursor: pointer;
    }
    .delete-board {
      border-radius: 3px;
      padding-right: 8px;
      text-decoration: underline;
      color: #f6f6f6;
      cursor: pointer;
      font-size: 14px;
      line-height: 32px;
      height: 20px;
    }
  }
}