.create-board-button {
  background-color: #5aab44;
  box-shadow: 0 1px 0 0 #3f6f21;
  font-weight: 700;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;
  color: white;
  border-radius: 4px;
  margin-bottom: 8px;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 14px;
  border: none;
}