.card-index {
  // min-height: 10px;
  .card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 5px 10px;
    width: 240px;
    color: #17394d;
    .delete-card {
      border-radius: 3px;
      padding: 5px;
      background: rgb(228, 108, 108);
      i {
        color: white;
      }
    }
  }
  .card-item:hover {
    background: #f2f4f5
  }
}