.list-form {
  height: 100%;
  background-color: #4f72a7;
  border-radius: 3px;
  padding: 8px;
  margin-left: 10px;
  margin-right: 20px;
  font-weight: 700;
  width: 260px;
  cursor: pointer;
  p {
    font-size: 14px;
    color: #d6e1ee;
    margin-left: 15px;
  }
}

.list-form:hover {
  background: #3b68aa;
}

.list-form-dropwdown {
  background: #e0e3e6;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  height: 75px;
  width: 260px; 
  input {
    width: 240px; 
    color: #17394d;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: white;
    font-size: 14px;
    outline: 0;
  }
  span {
    cursor: pointer;
  }
  i {
    
    margin-left: 15px;
    font-size: 18px;  
    color: #798a93;
  }
  i:hover {
    color: #6e7e87;
  }
}