.list-outer-index {
  background: #2d90cb;
  min-height: 100vh;
}
.list-index {
  min-height: 100vh;
  display: flex;
  overflow-x: auto;
  
  
  .drag-drop-context {
    margin-bottom: 30px;
    display: flex;
    height: 100%; 
    .list-item {
      position: relative;
      display: relative;
      height: 100%; 
      padding: 8px;
      margin-left: 10px;
      background-color: #e0e3e6;
      border-radius: 3px;
      width: 260px;
      color: #17394d;
      font-weight: 700;
      font-size: 14px;

      .list-title {
        margin-left: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
      }
    
      .delete-list {
        width: 30px;
        height: 30px;
        background: #e0e3e6;
        border: none;
        border-radius: 3px;
        padding: 10px;
        i {
          color: #6a8492;
        }
      }
      .delete-list:hover {
        background: #c3ccd0;
      }
    }
  }
  
}