.list-outer-index {
  background: #2d90cb;
  min-height: 100vh;
}
.list-index {
  
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  
  .drag-drop-context {
    margin-bottom: 30px;
    display: flex;
    height: 100%; 
    .list-item {
      height: 100%; 
      padding: 8px;
      margin-left: 10px;
      background-color: #e0e3e6;
      border-radius: 3px;
      width: 260px;
      color: #17394d;
      font-weight: 700;
      font-size: 14px;

      .list-title {
        margin-left: 13px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
      }
    
      .delete-list {
        border-radius: 3px;
        padding: 5px;
        background: #6496c4;
        i {
          color: white;
        }
      }
    }
  }
  
}