.list-form {
  height: 100%;
  background-color: #4f72a7;
  border-radius: 3px;
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
  width: 250px;
  cursor: pointer;
  p {
    font-size: 14px;
    color: #d6e1ee;
    margin-left: 15px;
  }
}

.list-form:hover {
  background: #3b68aa;
}