.navbar {
  background: #296aa7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;

  button {
    color: white;
    border: none;
    background: #5a97c2;
    padding: 7px 7px; 
    border-radius: 3px;
    margin-left: 10px;
  }

  button:hover {
    background: #367eb1;
  }

  .header-board-buttons {
    a {
      color: white;
      background: #5a97c2;
      margin-left: 2px;
      padding: 4px 7px;
      border-radius: 3px;
    }
    a:hover {
      background: #367eb1;
    }

    .boards-button {
      font-weight: 700;
      font-size: 15px;
      i {
        margin-right: 5px;
      }
    }
  }  
  

  i {
    font-size: 17px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    h1 {
      font-family: 'Pacifico', cursive;
    }
    a {
      color: white;
    }
    a:hover {
      color: rgb(235, 241, 242);
    }
  }

  .header-user {
    display: flex;
    .profile-dropdown {
      border-radius: 50%;
    }
  }
}