.navbar {
  background: #296aa7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;

  button {
    color: white;
    border: none;
    background: #5a97c2;
    padding: 7px 7px; 
    border-radius: 3px;
    margin-left: 10px;
  }

  button:hover {
    background: #367eb1;
  }

  i {
    font-size: 17px;
  }

  .header-board-buttons {
    
    
  }



  .header-user {
    display: flex;
  }

  div.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    h1 {
      font-family: 'Pacifico', cursive;
    }
    a {
      color: white;
    }
    a:hover {
      color: rgb(235, 241, 242);
    }
  }
}