.share-board-dropdown {
  border: 1px solid #dfe4e7;
  .title {
    font-size: 16px;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    padding: 5px;
    display: flex;  
    justify-content: space-between;
    border-bottom: 1px solid #dfe4e7;
  }

  .emails {
    font-size: 16px;
    color: #6b808c;;
    li {
      margin-bottom: 7px;
      margin-top: 7px;
    }
  }

  .share-with {
    display: flex;
    align-items: center;
    margin-top: 5px;
    .share-title {
      margin-right: 5px;
      font-size: 16px;
      font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
      text-align: center;
    }

    input {
      width: 160px;
      padding: 5px;
      margin: 3px 7px 3px 0;
      border-radius: 3px;
      outline: none;
      border: 1px solid #ccc;
    }
  }
  .board-members {
    font-size: 16px;
    color: #6b808c;
    padding: 5px;
    cursor: pointer;
    background: white;
    border-radius: 3px;
  }
  i {
    cursor: pointer;
  }

  position: absolute;
  z-index: 2;
  top: 50px;
  left: 5px;
  color: #6b808c;
  background: white;
  width: 260px;
  height: 160px;
  border-radius: 3px;
  padding: 15px;
}